AquariusLib/Connected Services/PublishService/AquariusPublishService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AquariusDataService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AquariusDataService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RatingCurveFilter">
    <xs:sequence>
      <xs:element name="ChangedSince" nillable="true" type="xs:string" />
      <xs:element name="LocationIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingCurveFilter" nillable="true" type="tns:RatingCurveFilter" />
</xs:schema>