AquariusLib/Connected Services/PublishService/AquariusPublishService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://d-mdm4/AQUARIUS/Publish/AquariusPublishService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AquariusDataService.Dto" />
  <xs:import schemaLocation="http://d-mdm4/AQUARIUS/Publish/AquariusPublishService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://d-mdm4/AQUARIUS/Publish/AquariusPublishService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetAuthToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encodedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectionValid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectionValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsConnectionValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepConnectionAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepConnectionAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeepConnectionAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetParameterListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlagList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlagListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlagListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGradeListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApprovalListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishViewList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishViewListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPublishViewListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changesSinceTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataSetsListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publishView" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryFromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryToTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changesSinceTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asAtTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnFullCoverage" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeGapMarkers" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeSeriesDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesRawData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publishView" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryFromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryToTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changesSinceTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asAtTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnFullCoverage" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeGapMarkers" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesRawDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeSeriesRawDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesDataResampled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publishView" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryFromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryToTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sampleIntervalInMinutes" type="xs:int" />
        <xs:element minOccurs="0" name="anchorTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesDataResampledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeSeriesDataResampledResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingCurveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AquariusDataService.Dto" minOccurs="0" name="ratingCurveFilter" nillable="true" type="q1:RatingCurveFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingCurveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRatingCurveListResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingTableAsCsvByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ratingCurveIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingTableAsCsvByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRatingTableAsCsvByIdentifierResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputParameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputParameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRatingTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingTableExtension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputParameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputParameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingTableExtensionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRatingTableExtensionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportType" type="xs:int" />
        <xs:element minOccurs="0" name="outputPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="GetReportDataResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLocationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsByFolderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderId" type="xs:long" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsByFolderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLocationsByFolderIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>